adversarial-robustness-toolbox==1.2.0
click==7.1.2
dvc[gdrive]==1.8.1
matplotlib==3.2.1
numdifftools==0.9.39
numpy==1.18.1
pandas==1.0.3
scipy==1.4.1
scikit-learn==0.22.1
torch==1.5.0
torchvision==0.6.0
tqdm==4.45.0